@model ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@Model.Title</h1>

<div class="row">
    <div class="col-md-6 text-center">
        <span>
            @{
                var picture = @Model.PicturePath ?? $"../{WebConstants.FullLogoPath}";
                var style = @Model.PicturePath == null ? "half-transperacy" : string.Empty;
            }
            <img src="@picture" class="img-responsive img-thumbnail float-left @style">
        </span>
    </div>
    <div class="col-md-4">
        <div>
            <h3>
                Price: <b>@string.Format("{0:C}", Model.Price)</b>
            </h3>
            <p>
                Available quantity: @Model.Quantity
            </p>
        </div>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" name="productId" />
            <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="number" data-val="true" data-val-range="The field Quantity must be between 1 and 2147483647." data-val-range-max="2147483647" data-val-range-min="1" data-val-required="The Quantity field is required." id="quantity" name="quantity" value="0">
            </div>
            <button type="submit" asp-action="Buy" asp-controller="Product" class="btn btn-primary">Buy Now</button>
            <button type="submit" asp-action="AddProduct" asp-controller="Invoice" class="btn btn-info">Add To Basket</button>
            <a asp-action="Create" asp-controller="Feedback" asp-route-receiverId="@Model.SellerId" asp-route-productId="@Model.Id" class="btn btn-warning">Give Feedback</a>
            <a asp-action="FeedbacksList" asp-controller="Feedback" asp-route-productId="@Model.Id" class="btn btn-primary">Product Feedbacks</a>
        </form>
    </div>
</div>
@if (Model.PartNumber != null)
{
<h3>PartNumber: <strong>@Model.PartNumber</strong></h3>
}
@if (Model.Description != null)
{
<h3 class="text-center">Description:</h3>
<p>@Model.Description</p>
}
<br />
<a asp-controller="User" asp-action="ProductsForSale" asp-route-sellerId="@Model.SellerId">All Products </a><small class="small">by this seller</small>
<br />
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

