@model Paginator<CatalogProductViewModel[]>

@{
    ViewData["Title"] = "All products for sale.";
}

@await Html.PartialAsync("_Pagination")

<link rel="stylesheet" href="~/css/site.css" />
<div class="container">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <form action="SearchProductByTitle">
                <div class="col-xs-2">
                    <p><b>Search by category:</b></p>
                </div>
            </form>
            <div class="col-xs-5 dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a asp-action="ProductsForSale" asp-route-category="@Category.Accessories" role="menuitem" tabindex="-1">Accessories</a>
                    <li role="presentation"><a asp-action="ProductsForSale" asp-route-category="@Category.Exterior" role="menuitem" tabindex="-1">Exterior</a>
                    <li role="presentation"><a asp-action="ProductsForSale" asp-route-category="@Category.Interior" role="menuitem" tabindex="-1">Interior</a>
                    <li role="presentation"><a asp-action="ProductsForSale" asp-route-category="@Category.Lighting" role="menuitem" tabindex="-1">Lighting</a>
                    <li role="presentation"><a asp-action="ProductsForSale" asp-route-category="@Category.Tunning" role="menuitem" tabindex="-1">Tunning</a>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    @if (Model.Model.Length != 0)
    {
        <table class="table table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            @foreach (var product in Model.Model)
            {
                <tr>
                    @{
                        var piece = product.Quantity > 1 ? "pieces" : "piece";
                    }
                    <th>@product.Title</th>
                    <th>@string.Format("{0:C}", @product.Price)</th>
                    <th>@product.Quantity @piece in stock</th>
                    <th>
                        <a href="~/Product/Details?id=@product.Id&title=@product.Title" class="btn btn-primary">Details</a>
                    </th>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>No products for sale.</h2>
    }
</div>

@await Html.PartialAsync("_Pagination")