@model IEnumerable<ListFeedbackProductViewModel>

<p>
    <a asp-controller="Product" asp-action="ProductsForSale" class="btn btn-primary">Create New</a>
</p>
@if (Model.Count() != 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                Product
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { productId = item.ProductId, senderId = item.SenderId }) |
                    @Html.ActionLink("Details", "Details", new { productId = item.ProductId, senderId = item.SenderId }) |
                    @Html.ActionLink("Delete", "Delete", new { productId = item.ProductId, senderId = item.SenderId })
                </td>
            </tr>
        }
    </tbody>
</table>
}
else{
    <h1>No feedbacks posted!</h1>
}