@model UserDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Username} details";
}
<h2>@Model.Username</h2>
<div class="row">
    <div class="col-md-6">
        @{
            var avatar = @Model?.Avatar ?? WebConstants.UserDefaultAvatarPath;
        }
        <img src="@avatar" class="img-thumbnail img-responsive" style="width:50%;" />
    </div>
    <div class="col-md-6">
        <div>
            <p><b>Name</b></p>
            <p>@Model.FirstName @Model.LastName</p>
            <p><b>Balance: @Model.MoneyBalance</b></p>
        </div>
        @if (Model.Address != null)
        {
            <div>
                <p><b>Address</b></p>
                <p>@Model.Address.Street</p>
                <p>@Model.Address.TownName</p>
                <p>@Model.Address.PostCode</p>
                <p>@Model.Address.CountryName</p>
            </div>
        }
        <div>
            <p><b>Sold items:</b> @Model.SoldItemsCount</p>

            <a asp-controller="Manage" asp-action="Index" class="btn btn-default">Account Setting</a>
        </div>
    </div>
</div>
