@model UserProductsListViewModel

@{
    ViewData["Title"] = "All products for sale.";
}
<div class="container">
    <h2>
        <a asp-action="Details" asp-route-userId="@Model.SellerId">@Model.SellerUserName</a> products for sale:
    </h2>

    @if (Model.ProductsToSell.Count() != 0)
    {
        <table class="table table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Category</th>
                @if (Model.IsRequestSenderOwner)
                {
                    <th>Options</th>
                }
            </tr>
            @foreach (var item in Model.ProductsToSell)
            {
                <tr>
                    <td>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" asp-route-title="@item.Title">@item.Title</a>
                    </td>
                    <th>@item.Category</th>
                    <th>
                        <a href="~/Product/Details?id=@item.Id&title=@item.Title" class="btn btn-default">Details</a>
                        <a href="~/Product/Delete?id=@item.Id&title=@item.Title" class="btn btn-danger">Delete</a>
                        <a href="~/Product/Edit?id=@item.Id&title=@item.Title" class="btn btn-primary">Edit</a>
                    </th>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>No products for sale.</h2>
    }
</div>