@model InvoiceViewModel

@{
    ViewData["Title"] = "Invoice";
}

@if (Model == null)
{
    <div class="alert alert-info text-center">
        <h3><span class="glyphicon glyphicon-shopping-cart"></span> Your shopping cart is empty</h3>
    </div>
}
else
{
    <br />
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <td>
                    <p>
                        <b>Frer Choice EU Ltd.</b><br><br>
                        Company MOL Name<br>
                        FC Street Address<br>
                        FC Registration Town<br>
                        Post Code<br>
                        CountryNmae
                    </p>
                </td>
                <td>
                    <div class="text-center">
                        <img src="~/images/FullLogo.png" class="invoice-logo">
                    </div>
                    <p class="text-center"><b>Invoice Nr:</b> @Model.Id.ToString().PadLeft(WebConstants.InvoiceNumberLeadingZeroes, '0')</p>
                    @{ var date = Model.IsPayed ? Model.IssueDate.ToShortDateString() : DateTime.Now.ToShortDateString(); }
                    <p class="text-center"><b>Date:</b> @date</p>
                </td>
                <td>
                    <p class="text-right">
                        <b>@Model.BuyerFirstName @Model.BuyerLastName</b>
                    </p>
                    <p class="text-right">
                        @Model.BuyeerStreet<br>
                        @Model.BuyeerTown<br>
                        @Model.BuyeerPostCode<br>
                        @Model.BuyeerCountry<br>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nr</th>
                <th>Picture</th>
                <th>Title</th>
                <th>Condition</th>
                <th>Options</th>
                <th>Quantity</th>
                <th>Net Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        @{ var number = 1; }
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@(number++)</td>
                    <td width="10%"><img src="@product.PicturePath" class="img-responsive img-thumbnail"></td>
                    <td><a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" asp-route-title="@product.Title">@product.Title</a></td>
                    <td>@(product.IsNew ? "New" : "Second Hand")</td>
                    <td>
                        @if (!Model.IsPayed)
                        {
                            <div><a asp-action="RemoveProduct" asp-route-productId="@product.Id" asp-route-invoiceId="@Model.Id" class="btn-link small">Remove Product</a></div>
                        }
                        <div><a asp-controller="User" asp-action="Details" asp-route-userId="@product.SellerId" class="btn-link small">Seller Details</a></div>
                    </td>
                    <td>@product.Quantity</td>
                    <td>@string.Format("{0:C2}", product.NetPrice * product.Quantity)</td>
                    <td>@string.Format("{0:C2}", product.Price * product.Quantity)</td>
                </tr>
            }
            <tr><td colspan="6"></td><td>Net Value</td><td>@string.Format("{0:C2}", Model.NetValue)</td></tr>
            <tr><td colspan="6"></td><td><b>Total Price</b></td><td><b>@string.Format("{0:C2}", Model.TotalValue)</b></td></tr>
        </tbody>
    </table>

    <hr />

    @if (!Model.IsPayed)
    {
        <div class="text-center">
            <a asp-action="Pay" asp-route-id="@Model.Id" class="btn btn-primary">Pay Now</a>
        </div>
    }
    else
    {
        <p>Your order is payed and will arrive soon to your address</p>
        <p>
            <b>@Model.BuyerFirstName @Model.BuyerLastName</b><br />
            @Model.BuyeerStreet<br />
            @Model.BuyeerTown<br />
            @Model.BuyeerPostCode<br />
            @Model.BuyeerCountry<br />
        </p>
    }
}