@model Paginator<ListOrdersViewModel[]>

@{
    ViewData["Title"] = Model.PageTitle;
}

<h2>@Model.PageTitle</h2>

<!--Pagination -->
<nav class="text-center">
    <ul class="pagination">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a class="page-link" href="@(Model.CurrentPage > 1 ? $"ListOrders?page={Model.CurrentPage - 1}" : "#")" tabindex="-1">Previous</a>
        </li>

        @{
            var middle = (int)Math.Ceiling(ServiceConstants.PageSize * 1.0 / 2) - 1; // For Odd Numbers
            var firstPageNumber = Model.CurrentPage < ServiceConstants.PageSize
                        ? 1
                        : Model.CurrentPage - middle;

            if (firstPageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="#">... <span class="sr-only"></span></a>
                </li>
            }

            var lastPage = Model.CurrentPage < ServiceConstants.PageSize
                ? ServiceConstants.PageSize
                : Model.CurrentPage + middle;

            if (lastPage > Model.AllPages)
            {
                lastPage = Model.AllPages;
                firstPageNumber = firstPageNumber - middle < 1
                    ? 1
                    : firstPageNumber - middle;
            }
        }

        @for (int i = firstPageNumber; i <= lastPage; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item"><a asp-action="ListOrders" asp-route-page="@i" class="page-link">@i</a></li>
            }
        }

        @if (lastPage != Model.AllPages)
        {
            <li class="page-item">
                <a class="page-link" href="#">... <span class="sr-only"></span></a>
            </li>
        }

        <li class="page-item @(Model.CurrentPage >= Model.AllPages ? "disabled" : string.Empty)">
            <a class="page-link" href="@(Model.CurrentPage >= Model.AllPages ? "#" : $"ListOrders?page={Model.CurrentPage + 1}")" tabindex="-1">Next</a>
        </li>
    </ul>
</nav>
<!--/Pagination -->

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Title</th>
            <th>Condition</th>
            <th>Seller</th>
            <th>Quantity</th>
            <th>Single Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var invoice in Model.Model)
        {
            <tr>
                <td colspan="7">
                    <h2 class="text-center">
                        @{ var invoiceLink = $"Invoice: {invoice.Id.ToString().PadLeft(WebConstants.InvoiceNumberLeadingZeroes, '0')} - {invoice.IssueDate.ToShortDateString()}"; }
                        <a asp-action="Details" asp-route-id="@invoice.Id">@invoiceLink</a>
                    </h2>
                </td>
            </tr>


            @foreach (var item in invoice.Products)
            {
                <tr>
                    <td width="10%"><img src="@item.PicturePath" class="img-responsive img-thumbnail"></td>
                    <td><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" asp-route-title="@item.Title">@item.Title</a></td>
                    <td>@(item.IsNew ? "New" : "Second hand")</td>
                    <td><a asp-controller="User" asp-action="Details" asp-route-userId="@item.SellerId" btn-link small>Seller details</a></td>
                    <td>@item.Quantity</td>
                    <td>@string.Format("{0:C2}", item.Price)</td>
                    <td>@string.Format("{0:C2}", item.Price * item.Quantity)</td>
                </tr>
            }

            <tr><td colspan="7" class="divider my-divider"></td></tr>
        }

    </tbody>
</table>