@model Paginator<ListOrderInvoicesViewModel[]>

@{
    ViewData["Title"] = Model.PageTitle;
}

<h2>@Model.PageTitle</h2>

@await Html.PartialAsync("_Pagination")

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Title</th>
            <th>Condition</th>
            <th>Seller</th>
            <th>Quantity</th>
            <th>Single Price</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var invoice in Model.Model)
        {
            <tr>
                <td colspan="7">
                    <h2 class="text-center">
                        @{ var invoiceLink = $"Invoice: {invoice.Id.ToString().PadLeft(WebConstants.InvoiceNumberLeadingZeroes, '0')} - {invoice.IssueDate.ToShortDateString()}"; }
                        <a asp-action="Details" asp-route-id="@invoice.Id">@invoiceLink</a>
                    </h2>
                </td>
            </tr>


            @foreach (var item in invoice.Products)
            {
                <tr>
                    <td width="10%"><img src="@item.PicturePath" class="img-responsive img-thumbnail"></td>
                    <td><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" asp-route-title="@item.Title">@item.Title</a></td>
                    <td>@(item.IsNew ? "New" : "Second hand")</td>
                    <td><a asp-controller="User" asp-action="Details" asp-route-userId="@item.SellerId" btn-link small>Seller details</a></td>
                    <td>@item.Quantity</td>
                    <td>@string.Format("{0:C2}", item.Price)</td>
                    <td>@string.Format("{0:C2}", item.Price * item.Quantity)</td>
                </tr>
            }

            <tr><td colspan="7" class="divider my-divider"></td></tr>
        }

    </tbody>
</table>

@await Html.PartialAsync("_Pagination")